<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf8" />
<meta name="description" content="The nifty new website of Ben Hildred" />
<meta name="keywords"
	content="Bejamin Hildred Ben acid jazz workout cook" />
<title>Ben Hildred</title>
<link href="css/lavish-bootstrap.css" rel="stylesheet" />
<link href="css/main.css" rel="stylesheet" />
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div id="<%= locals.page %>" class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="."> <span
					class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Ben Hildred
				</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="workout.js.html">workout</a></li>
					<li><a href="//ben-hildred.blogspot.com">recipes</a></li>
					<li><a href="beats.js.html">beats</a></li>
					<li><a href="swag.js.html">swag</a></li>
					<li><a href="dates.js.html">dates</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<%- body %>
</body>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</html>